@using System.Security.Claims;
@inject Microsoft.AspNetCore.Identity.UserManager<MyUser> userManager;
@{
    var ImageId = userManager.Users.FirstOrDefault(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier))?.ImageId;
    var Image = userManager.Users.Select(u => u.Image)?.FirstOrDefault(i => i.ImageId == ImageId);
}
<!DOCTYPE html>
<html>
<head>
    <title>BlogHub - A Platform where you can write.</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/icon.ico" />
    @RenderSection("Styles", required: false)
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <style>
        <style >
        .setting:active {
            color: #000;
            background-color: #fff;
            text-decoration: none;
        }

        .navbar-toggler:focus {
            outline: none !important;
            box-shadow: none !important;
        }
        .search-button:hover{
            border: 1px solid #63f9;
        }
        .search-button:focus{
            border: 1px solid #63f9;
        }
        
            .search-button:hover .fas.fa-search {
            color: #902ee7
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="logo navbar-brand mx-3" asp-action="Index" asp-controller="Home">BlogHub.</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto align-items-lg-center">
                       
                        <li class="nav-item mx-3">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" asp-action="Index" asp-controller="Post" asp-route-UserId="@if(User?.Identity?.IsAuthenticated ?? false){
                            @User.FindFirstValue(ClaimTypes.NameIdentifier)}">My Posts</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" asp-controller="Post" asp-action="Add">Add Post</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" asp-action="Profile" asp-controller="User" asp-route-id="@if(User?.Identity?.IsAuthenticated ?? false){
                            @User.FindFirstValue(ClaimTypes.NameIdentifier)}">Profile</a>
                        </li>
                        @if (User?.HasClaim(ClaimTypes.Email, "admin@bloghub.com") ?? false)
                        {
                            <li class="nav-item mx-3">
                                <a class="nav-link" asp-action="Manage" asp-controller="Category">Admin Panel</a>
                            </li>
                        }
                        <li class="nav-item mx-3">
                            <form class="d-flex ms-auto me-2 search-form" asp-action="Search" asp-controller="Post" method="get">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                                <button class="btn btn-outline search-button" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </li>
                   
                        <li class="nav-item dropdown mx-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/@Image?.ImageURL" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; border:2px #63f9 solid" alt="User Image" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-sm-end dropdown-menu-md-start justify-content-center" aria-labelledby="navbarDropdown">
                                <li class="d-flex align-items-center">
                                    <img src="~/assests/gear.svg" class="img-fluid mx-2" alt="Settings" style="width: 20px; height: 20px;" />
                                    <a class="dropdown-item p-0 setting" href="/Identity/Account/Manage">Settings</a>
                                </li>
                                <li>
                                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="d-flex align-items-center">
                                        <img src="~/assests/box-arrow-right.svg" class="img-fluid mx-2 border-1" alt="Logout" style="width: 20px; height: 20px;" />
                                        <button type="submit" class="dropdown-item logo p-0 fs-6" onclick="return confirm('Are you sure you want to logout?')">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <div>
        @RenderBody()
    </div>
    <hr>
    <footer class="card-footer mt-4 py-3 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h5 class="gradient-text">BlogHub.</h5>
                    <p class="text-muted">
                        BlogHub is a platform where millions gather to share ideas,
                        insights, and stories.
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/" class="text-muted">Home</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Login" class="text-muted">Login</a>
                        </li>
                        <li>
                            <a href="/Identity/Account/Register" class="text-muted">SignUp</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Terms of Use</a></li>
                        <li><a href="#" class="text-muted">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h5>Connect with Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-muted">Facebook</a></li>
                        <li><a href="#" class="text-muted">Instagram</a></li>
                        <li><a href="#" class="text-muted">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-12 mt-4 ">
                    <div class="d-flex justify-content-center">
                        <span class="text-center fs-5">Email us at: info@@bloghub.com |</span>
                        <span class="text-center fs-5 mx-2"> © 2024 BlogHub. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>