@model Post
@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Landing";
    }
    string markdownContent = Model.Content;
    string htmlContent = Markdig.Markdown.ToHtml(markdownContent);
}

@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts {
    <script src="~/js/Post.js"></script>
}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex align-items-center">
                <h1 class="fw-bolder fs-1">@Model.Title</h1>
                <i class="fa-regular fa-thumbs-up fa-2xl" style="color: #805ce9;" onclick="toggleLike(this)"></i>
                <span class="mx-2" id="like-count">0</span>
            </div>
            <div class="mb-2">
                <img class="mx-2 rounded-circle" src="~/assests/avatar.jpg" alt="Author's avatar" style="width:25px;">
                <p class=" d-inline text-black overflow-hidden">@Model.User.UserName in @Model.CategoryName</p>
                <p class="mx-5 text-muted">@Model.DatePosted</p>
            </div>

            <div class=" justify-content-center mx-2">
                <img src="@Model.Image" alt="Featured Image" class="img-thumbnail rounded-3 my-1">
            </div>
            <div class="d-flex mt-3 flex-wrap">
                <h4 class="m-3 mx-2 ">Tags</h4>
                @if(Model?.Tags?.Count > 0)
                @foreach(var tag in Model.Tags)
                {
                    <a href="#"
                       class="p-3 m-1 text-decoration-none d-block text-black bg-body-tertiary rounded-4 p-3">@tag.TagName</a>
                }
            </div>
            <div class="text-body text-black fs-5 my-3">
                    @Html.Raw(htmlContent)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow p-3">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>
                <form>
                    <div class="mt-2 d-flex flex-row align-items-center p-3 form-color">
                        <img src="~/assests/avatar.jpg" width="40" class="rounded-circle mx-2">
                        <input type="text" class="form-control" placeholder="Enter your comment...">
                        <button class="btn btn-primary mx-2">Add</button>
                    </div>
                </form>
                <div class="my-2">
                    <div class="d-flex flex-row p-1">
                        <img src="~/assests/avatar2.png" width="40" height="40" class="rounded-circle mx-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                    <span class="mx-1">Brian selter</span>
                                </div>
                                <div class="d-flex gap-3  align-items-center">
                                    <small>12h ago</small>
                                    <a asp-action="Delete" asp-controller="Comment" class="link-danger">Delete</a>
                                </div>
                            </div>
                            <p class="text-justify comment-text ">
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>