@using System.Security.Claims
@model Post
@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Landing";
    }
    string markdownContent = Model.Content;
    string htmlContent = Markdig.Markdown.ToHtml(markdownContent);
}
@functions {
    public static string TimeAgo(DateTime date)
    {
        TimeSpan timeSince = DateTime.UtcNow.Subtract(date);
        if (timeSince.TotalMinutes < 1)
        {
            return "just now";
        }
        else if (timeSince.TotalMinutes < 60)
        {
            return string.Format("{0} minutes ago", (int)timeSince.TotalMinutes);
        }
        else if (timeSince.TotalHours < 24)
        {
            return string.Format("{0} hours ago", (int)timeSince.TotalHours);
        }
        else if (timeSince.TotalDays < 7)
        {
            return string.Format("{0} days ago", (int)timeSince.TotalDays);
        }
        else if (timeSince.TotalDays < 30)
        {
            return string.Format("{0} weeks ago", (int)(timeSince.TotalDays / 7));
        }
        else if (timeSince.TotalDays < 365)
        {
            return string.Format("{0} months ago", (int)(timeSince.TotalDays / 30));
        }
        else
        {
            return string.Format("{0} years ago", (int)(timeSince.TotalDays / 365));
        }
    }
}
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
}
@section Scripts {
    <script src="~/js/Post.js"></script>
    <script>
        function editComment(commentId) {
            document.getElementById(`comment-text-${commentId}`).classList.add('d-none');
            document.getElementById(`edit-comment-${commentId}`).classList.remove('d-none');
        }

        function cancelEdit(commentId) {
            document.getElementById(`comment-text-${commentId}`).classList.remove('d-none');
            document.getElementById(`edit-comment-${commentId}`).classList.add('d-none');
        }
    </script>
}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="d-flex align-items-center justify-content-between">
                <h1>@Model.Title</h1>
                <div class="mx-2 d-flex">
                    <form id="likeForm" method="post" asp-action="ToggleLike" asp-controller="Post">
                        <input type="hidden" name="PostId" value="@Model.PostId" />
                        <input type="hidden" name="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                        <a id="likeButton" class="text-decoration-none">
                            @if (Model.Likes!.Any(l => l.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <i class="fa-solid fa-thumbs-up fa-2xl mx-2" style="color: #805ce9; cursor: pointer;"></i>
                            }
                            else
                            {
                                <i class="fa-regular fa-thumbs-up fa-2xl mx-2" style="color: #805ce9; cursor: pointer;"></i>
                            }
                        </a>
                    </form>
                    <span class="mx-0" id="like-count">
                        @(Model?.Likes?.Count ?? 0)
                    </span>
                    <span class="mx-2 d-flex align-items-center">
                        <i class="fa-regular fa-eye fa-2xl mx-2" style="color: #805ce9;"></i>
                        @(Model?.ViewCount ?? 0)
                    </span>
                </div>
            </div>
            <div class="mb-2">
                <img class="mx-2 rounded-circle" src="~/@Model?.User.Image?.ImageURL" alt="Author's avatar" style="width:35px;">
                <a class=" d-inline overflow-hidden text-decoration-none" asp-action="Profile" asp-controller="User" asp-route-id="@Model.UserId">@string.Concat(Model!.User.FirstName," ",Model.User.LastName)</a>  <strong>  |  </strong><a class="text-decoration-none" asp-action="Posts" asp-controller="Category" asp-route-id="@Model.Category.CategoryName">@Model.Category.CategoryName</a>
                <p class="mx-5 text-muted">@Model.DatePosted.ToString("dd MMMM, yyyy")</p>
            </div>

            <div class=" justify-content-center mx-2">
                <img src="~/@(Model?.Image?.ImageURL)" alt="Featured Image" class="img-thumbnail rounded-3 my-1" width="850px">
            </div>
            <div class="d-flex mt-3 flex-wrap">
                <h4 class="m-3 mx-2 ">Tags</h4>
                @if(Model?.Tags?.Count > 0)
                {
                    @foreach(var tag in Model.Tags)
                    {
                        <a href="#"
                           class="p-3 m-1 text-decoration-none d-block text-black bg-body-tertiary rounded-4 p-3" style="background:#e1e1e1!important;">@tag.TagName</a>
                    }
                }
            </div>
            <div class="text-body text-black fs-5 my-3">
                    @Html.Raw(htmlContent)
            </div>
            <div class="d-flex justify-content-end">
                <a id="shareButton" class="btn btn-secondary mx-2 align-self-end" onclick="copyPostUrl()">
                    <i class="fa-solid fa-share"></i> Share Post
                </a>
            </div>
            
        </div>
               
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow p-3">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>
                <form method="post" asp-action="Add" asp-controller="Comment">
                    <div class="mt-2 d-flex flex-row align-items-center p-3 form-color">
                        <img src="~/@ViewData["CurrentUserImageUrl"]" width="40" class="rounded-circle mx-2">
                        <input name="Content"  type="text" class="form-control" placeholder="Enter your comment..." required>
                        <input type="hidden" name="PostId" value="@Model?.PostId" />
                        <input type="hidden" name="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>
                        <input type="submit" class="btn btn-primary mx-2" value="Add" />
                    </div>
                </form>
                

                
                @if (Model?.Comments?.Any() ?? false)
                {
                    @foreach (var comment in Model!.Comments)
                    {
                        <div class="my-2">
                            <div class="d-flex flex-row p-1">
                                <img src="~/@comment.User?.Image?.ImageURL" width="40" height="40" class="rounded-circle mx-3">
                                <div class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex flex-row align-items-center">
                                            <a class="mx-1 text-decoration-none" asp-action="Profile" asp-controller="User" asp-route-id="@comment?.UserId">@string.Concat(comment?.User?.FirstName, " ", comment?.User?.LastName)</a>
                                            <small class="mx-2">
                                                @TimeAgo(comment!.DatePosted)
                                        </small>
                                        </div>
                                        <div class="d-flex gap-3 align-items-center">
                                           
                                            @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == comment!.UserId || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
                                            {
                                                @if(User.FindFirstValue(ClaimTypes.NameIdentifier) == comment.UserId)
                                                {
                                                    <button type="button" class="link-primary border-0 bg-transparent" onclick="editComment(@comment.CommentId)">Edit</button>
                                                }
                                                <form asp-action="Delete" asp-controller="Comment" asp-route-id="@comment.CommentId" method="post" class="d-inline">
                                                    <input type="submit" class="link-danger border-0 bg-transparent" value="Delete" />
                                                </form>
                                            }
                                        </div>
                                    </div>
                                    <div id="comment-text-@comment.CommentId" class="comment-text">
                                        <p class="text-justify">@comment.Content</p>
                                        
                                    </div>

                                    @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == comment.UserId)
                                    {
                                        <div id="edit-comment-@comment.CommentId" class="d-none">
                                            <form asp-action="Edit" asp-controller="Comment" asp-route-id="@comment.CommentId" method="post">
                                                <input type="hidden" name="CommentId" value="@comment.CommentId" />
                                                <input type="text" name="Content" class="form-control" value="@comment.Content" required/>
                                                <div class="d-flex justify-content-end mt-2">
                                                    <button type="submit" class="btn btn-primary me-2">Update</button>
                                                    <button type="button" class="btn btn-secondary" onclick="cancelEdit(@comment.CommentId)">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="text-center">
                        <p>No comments yet!</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>