@model IEnumerable<BlogHub.Models.Post>
@section Styles {
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/myposts.css" />
}
<div class="container my-5">
    <div class="row">
        @if (Model.Any())
        {
            <h2 class="mb-4 text-center">My Posts</h2>
            @foreach (var post in Model)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card border-1 shadow p-1 mb-4">
                        <img src="@(post.Image!.ImageURL)" class="card-img-top card-img" alt="Feature Image" height="300px" width="300px" />
                        <div class="card-body h-auto">
                            <h4 class="card-title fw-semibold">@post.Title</h4>
                            <p class="card-text">
                               @{
                                    var plainText = Markdig.Markdown.ToPlainText(post.Content);
                                    var words = plainText.Split(' ', StringSplitOptions.RemoveEmptyEntries);
                                    var first50Words = words.Take(50);
                                    var previewText = string.Join(" ", first50Words);
                                    if (words.Length > 50)
                                    {
                                        previewText += " ...";
                                    }
                                }
                                @previewText
                                <a asp-controller="Post" asp-action="Details" asp-route-id="@post.PostId" class="mx-2">Read More</a>
                            </p>
                            <div class="d-flex justify-content-end">
                                <button asp-controller="Post" asp-action="Edit" asp-route-id="@post.PostId" class="btn btn-edit">Edit</button>
                                <form method="post" asp-action="Delete" asp-route-id="@post.PostId">
                                    <input type="submit"  class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this post?')" value= "Delete" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col">
                <div class="text-center">
                    <h4 class="text-dark">No posts found.</h4>
                    <a asp-controller="Post" asp-action="Add">Create a new post</a>
                </div>
            </div>
        }
    </div>
</div>
