@using BlogHub.ViewModels
@{
    if (User.Identity?.IsAuthenticated ?? false)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Landing";
    }
}
@model HomeViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/style.css" />
}
<section class="bg-main bg-color bg-transparent p-2 p-md-3 p-lg-5 m-auto m-lg-5 ">
        <div class="container mt-5">
            <div class="row gap-4 gap-lg-0">
                <div class="col-12 col-md-12 col-lg-6 d-flex">
                    <h1 class="pt-auto pt-lg-5">
                        Start your blogging journey at <span class="gradient-text">BlogHub</span>, a place where
                        millions
                        gather
                        to share
                        ideas, insights,
                        and
                        stories.
                    </h1>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <img src="~/assests/hero-section.svg" class=" rounded img-fluid img-thumbnail">
                </div>
            </div>
            <div class="row">
                <div
                    class="col-12 col-md-12 col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start my-4 my-lg-0">
                    <button class="btn btn-primary">Start Reading</button>
                </div>
            </div>
        </div>
</section>

<section class="p-4 my-2 trending" id="trending">
    <div class="container">
        <div class="row">
            <div class="col-12 my-4">
                <h2 class="text-center text-white">
                    <img src="~/assests/trend.png" class=" rounded  ratio-16x9">
                    Trending Posts
                </h2>
            </div>
        </div>
        <partial name="_TrendingPosts" model="Model.TrendingPosts" />
    </div>
</section>

<section class="p-4 my-2">
    <div class="container my-4">
        <div class="row">
           <partial name="_Categories" model="Model.Categories" />
           @if (Model.RecentlyViewedPosts != null && Model.RecentlyViewedPosts.Any())
            {
                <div class="col-12 col-lg-9 order-2 order-lg-1">
                    <h4 class="my-4 gradient-text">Recently Viewed Posts</h4>
                    @foreach (var post in Model.RecentlyViewedPosts)
                    {
                        <a asp-action="Details" asp-controller="Post" asp-route-id="@post.PostId" style="text-decoration: none; color: inherit;">
                            <div class="mb-3 rounded-4 p-3 shadow-lg border">
                                <div class="mb-2">
                                    <img class="mx-2 rounded-circle" src="~/@post.User.Image?.ImageURL" alt="Author's avatar" style="width:35px;">
                                    <p class=" d-inline">@string.Concat(post.User.FirstName, " ", post.User.LastName)</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="mt-0">@post.Title</h5>
                                    <p class="mb-0 text-muted">@post.DatePosted · @post.TimeToRead min · @post.Category.CategoryName</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }

            @if (Model.LatestPosts != null && Model.LatestPosts.Any())
            {
                <div class="col-12 col-lg-9 order-2 order-lg-3">
                    <h4 class="my-4 gradient-text">Latest on BlogHub</h4>
                    @foreach (var post in Model.LatestPosts)
                    {
                        <a asp-action="Details" asp-controller="Post" asp-route-id="@post.PostId" style="text-decoration: none; color: inherit;">
                            <div class="mb-3 rounded-4 p-3 shadow-lg border">
                                <div class="mb-2">
                                    <img class="mx-2 rounded-circle" src="~/@post.User.Image?.ImageURL" alt="Author's avatar" style="width:35px;">
                                    <p class=" d-inline">@string.Concat(post.User.FirstName, " ", post.User.LastName)</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="mt-0">@post.Title</h5>
                                    <p class="mb-0 text-muted">@post.DatePosted · @post.TimeToRead min · @post.Category.CategoryName</p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
            else
            {
                <div class="col-12 col-lg-9 order-2 order-lg-1">
                    <div class="text-center">
                        <h4 class="text-dark">No posts found.</h4>
                        <a asp-controller="Post" asp-action="Add">Create a new post</a>
                    </div>
                </div>
            }
        </div>
     </div>
</section>
