@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
    if(User.Identity?.IsAuthenticated ?? false)
    {
        Response.Redirect("/");
    }
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/loginsignup.css" />
        <link rel="icon" href="~/icon.ico" />
    </head>
    <body>
        <div class="container d-flex justify-content-center align-items-center min-vh-100 m-auto">
            <div class="row border rounded-5 p-3 bg-white shadow box-area">
                <div class=" d-none col-md-6 rounded-4 d-md-flex justify-content-center align-items-center flex-column left-box"
                     style="background: #f8f9fa;">
                    <div class="featured-image mb-3">
                        <img src="~/assests/login.svg" class="img-fluid" style="width: 250px; height: fit-content;">
                    </div>
                    <p class="text-black fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">
                        Be
                        Verified
                    </p>
                    <small class="text-black text-wrap text-center"
                           style="width: 17rem;font-family: 'Courier New', Courier, monospace;">
                        Join experienced Writers on
                        this platform.
                    </small>
                </div>
                <div class="col-md-6 right-box">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <a class="logo mb-2" asp-action="Index" asp-controller="Home">BlogHub.</a>
                            <p>We are happy to have you back.</p>
                        </div>
                        <form id="account" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="input-group mb-3">
                                <input asp-for="Input.Email" type="email" class="form-control form-control-lg bg-light fs-6" autocomplete="username" aria-required="true" placeholder="Email Address" />               
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-1">
                                <input asp-for="Input.Password" type="password" class="form-control form-control-lg bg-light fs-6" autocomplete="current-password" aria-required="true" placeholder="Password" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="input-group mb-4 d-flex justify-content-between">
                                <div class="form-check">
                                    <label asp-for="Input.RememberMe" class="form-check-label text-secondary">
                                        <input class="form-check-input" id="form-check" asp-for="Input.RememberMe" type="checkbox" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                                <div class="forgot">
                                    <small> <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></small>
                                </div>
                            </div>
                            <div class="input-group mb-4 d-flex align-items-center justify-content-center">
                                <button id="login-submit" type="submit" class="btn btn-lg button w-100 fs-6">Log in</button>
                            </div>
                        </form>
                        <div class="input-group mb-3 d-flex justify-content-center align-items-center">
                            <p class="text-center">Or login with</p>
                            <div class="d-flex justify-content-between w-100">
                                <button class="btn btn-lg btn-light w-31 fs-6">
                                    <img src="~/assests/google.svg"
                                         class="me-2"><small>Google</small>
                                </button>
                                <button class="btn btn-lg btn-light w-31 fs-6">
                                    <img src="~/assests/facebook.svg"
                                         class="me-2"><small>Facebook</small>
                                </button>
                                <button class="btn btn-lg btn-light w-31 fs-6">
                                    <img src="~/assests/twitter-x.svg"
                                         class="me-2"><small>Twitter</small>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <small>Don't have an account?<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="mx-2">Sign Up</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
    </body>
</html>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@


