@model IEnumerable<Domain.Entities.Post>
@foreach (var post in Model)
{
    <a asp-action="Details" asp-controller="Post" asp-route-id="@post.PostId" style="text-decoration: none; color: inherit;">
        <div class="mb-3 rounded-4 p-3 shadow border">
            <div class="mb-2">
                <img class="mx-2 rounded-circle" src="~/@post.User.Image?.ImageURL" alt="Author's avatar" style="width:35px;">
                <p class=" d-inline">@string.Concat(post.User.FirstName, " ", post.User.LastName)</p>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between gap-2 flex-column flex-sm-row">
                    <div>
                        <h5 class="mt-0 fs-3 fw-medium">
                            @post.Title
                        </h5>
                        <p class="mb-0 text-muted">@post.DatePosted · @post.TimeToRead min read · @post.Category.CategoryName</p>
                        @{
                            var plainText = Markdig.Markdown.ToPlainText(post.Content);
                            var words = plainText.Split(' ', StringSplitOptions.RemoveEmptyEntries);
                            var first35Words = words.Take(35);
                            var previewText = string.Join(" ", first35Words);
                            if (words.Length > 35)
                            {
                                previewText += " ...";
                            }
                        }
                        <p>
                            @previewText
                        </p>
                    </div>
                    <img src="~/@post.Image?.ImageURL" class="rounded-1" width="150" height="120" />
                    
                </div>
                <div class="d-flex my-sm-2 my-md-0 justify-content-start">
                    <div class="p-2">
                        <img src="~/assests/heart.png" style="width: 30px;" class="img-fluid rounded">
                        <p class="d-inline text-dark mx-1">@(post.Likes?.Count ?? 0) </p>
                    </div>
                    <div class="p-2">
                        <img src="~/assests/comment.svg" style="width: 25px;" class="img-fluid rounded">
                        <p class="d-inline text-dark mx-1">@(post.Comments?.Count ?? 0) </p>
                    </div>
                    <div class="p-2">
                        <i class="fa-regular fa-eye fa-xl mt-2" style="color: #805ce9;"></i>
                        <p class="d-inline text-dark mx-1">@(post.ViewCount) </p>
                    </div>
                </div>

            </div>
        </div>
    </a>
}
